.textareaWrapper{

}
.textareaWrapper label{
    display: block;
    margin-bottom: 5px;
    text-align: right;
    
}
.textareaWrapper textarea{
    width: 100%;
    min-height: 200px;
    border:1px solid #ccc;
    text-align: right;
}