.articleWrapper{
    height:400px ;
    box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 20px;
}
.articleWrapper img{
    width: 100%;
}
.articleWrapper h3{
    text-align: right;
    padding: 8px;
}
.articleWrapper p {
    text-align: right;
    padding: 8px;
    color:#777 ;
}