.homeWrapper a{
   width: 23%;
}
.homeWrapper h2{
     text-align: right;
     margin-top: 6opx;
     font-size: 20px;
     margin-bottom: 20px;
     margin-top: 20px;
     
     
}
.articles{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}