.aboutPage{
    text-align: center;
}
.aboutPage h2{
    margin: 40px 0px;
    text-align: right;
}
.aboutPage p{
    text-align: right;
}
.aboutPage h3{
    margin:40px 0;
    color:aquamarine;
}
.aboutExit{
    text-align: center;
    margin: 40px;
}